.icon {
    padding-right: 5px;
}
.ant-tabs-nav-list {
    display: flex;
    flex-direction: row;  
}
.tab span {
    padding-right: 5px;
}
.tabs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
}